.song-item {
  text-align: left;
  border: 1px solid black;
  padding: 15px;

  .song-item-number {
    padding-right: 15px;
  }

  .artist-name {
    font-weight: bold;
    font-size: 15pt;
  }

  .icon-reaction {
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("../../images/like-128x128.png");
  }

  .unlike {
    transform: rotate(180deg);
  }
}