.nav {
  background-color: black;

  .nav-item {
    font-size: 15pt;
    font-weight: bold;

    .nav-link {
      color: white;
      transition: 0.5s;
    }

    .nav-link:hover, .nav-link.active-link {
      color: red;
    }
  }
}

